<% provide(:title, "Users") %>
<style>
   h1 { color: #d54d7b; font-family: "Great Vibes", 
cursive; font-size: 100px; line-height: 160px; font-weight: normal;
margin-bottom: 0px; margin-top: 40px; text-align: center;
text-shadow: 0 1px 1px #fff; }
.names
{
   color: 000033; font-family: "Great Vibes", 
cursive; font-size: 20px; line-height: 20px; font-weight: normal;
text-shadow: 0 1px 1px #fff; 
}
 </style>
<br/><br/><br/><br/><br/><br/>
<div class="center jumbotron2">
<div class="animated rollIn">
<div class="container">



<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th class="names">Name</th>
      <th class="names">Last name</th>
      <th class="names">Phone</th>
      <th class="names">Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="names"><%= user.name %></td>
        <td class="names"><%= user.lastName %></td>
        <td class="names"><%= user.phone %></td>
        <td class="names"><%= user.email %></td>
        <td class="names"><%= link_to 'Show', user %></td>
        <td class="names"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="names"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<%= link_to 'New User', signup_path %>
</div>
</div>
</div>



