
<h3>Please sign in to the waiting list</h3> 


<h1>What service are you here for?</h1>
<%text_field(:post, :service, size: 20)%> <input type="text" id="post_title" name="post[title]" size="20" />
<br/>
<br/>
<br/>

<%= link_to "Signin", signincustomer_path, class: "btn btn-lg btn-primary button" %>
    
   




<!-- 
<p>
  <strong>Name:</strong>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<meta HTTP-EQUIV="REFRESH" content="5; <%=root_path%>">
-->




